{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "EventHubConnectionString": "UPDATE_ME",
        "IOTC_APP_NAME": "UPDATE_ME",
        "IOTC_API_TOKEN": "UPDATE_ME"
    }
}